@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url(header.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Anton', sans-serif;
    background-color: #f5f5f5;
    justify-content: center;
    align-items: center;
}

.anton-regular {
    font-family: "Anton", serif;
    font-weight: 400;
    font-style: normal;
  }

  .montserrat {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }

    .enviado{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 30px 12%;
        margin: 20px;
    }

    .enviado h1{
        font-family: anton;
        font-weight: 700;
        font-size: 4.5rem;
        color: #111a50;
    }

    .enviado p{
        font-family: montserrat;
        font-weight: 400;
        font-size: 1.5rem;
        color: #111a50;
    }

    .enviado a{
        font-family: montserrat;
        font-weight: 400;
        font-size: 1.5rem;
        color: #111a50;
        text-decoration: none;
        background-color: #ef8225;
        height: 40px;
        width: 100px;
        border-radius: 10px;
        padding: 5px;
        text-align: center;
        
    }

