*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
  
.container-header {
    background-color: #111a50;
    width: 100%;
}

.img-header {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
}

.img-header img {
    height: 50px;
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 70px;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover{
    color: #ef8225;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #111a50;
    box-shadow: -10px 0 10px rgba(73, 73, 73, 0.3);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}

.sidebar a{
    width: 100%;
}

.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }

    .menu-button{
        display: block;
    }
}

@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}

.banner-container {
    position: relative;
    width: 100%;
    height: 600px; /* Altura reduzida para ajustar o tamanho do banner */
    overflow: hidden;
}

.banner img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem se encaixe sem distorção */
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(239, 130, 37, 0.3); /* Laranja translúcido */
    z-index: 1; /* Camada acima da imagem */
}

.banner-text {
    position: absolute;
    top: 60%;
    width: 100%;
    text-align:center;
    z-index: 2; /* Camada acima da overlay */
}

.banner-text img {
    width: 650px; /* Tamanho reduzido para se adequar ao layout */
    height: auto;
    display: inline-block;
}




